<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../css/uidevtest.css">
        <script data-main="../js/main" src="../js/libs/require.min.js"></script>
    </head>
    <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
        <div id="story-content">
            <p>Loading...</p>
        </div>
        <script type="text/html" id="story-list">
            <div id="story-list-view">
                <% _.each(stories, function(story, index) { %>
                    <div class="row-fluid">
                        <div class="span2">
                            <img data-story-index="<%= index + 1 %>" src="<%= story.get('lead_photo_image_thumb') %>" alt="<%= story.get('lead_photo_caption') %>"class="story-thumbnail"/>
                        </div>
                        <div class="span10">
                            <h2 data-story-index="<%= index + 1 %>" class="headline"><%= story.get_title_display() %></h2>
                            <span class="categories">
                                <p><%= story.get_categories_display() %></p>
                            </span>
                            <span class="story-times">
                                <p>Posted: <%= story.get_pub_date_display() %></p>
                                <p>Updated: <%= story.get_updated_display() %></p>
                            </span>
                        </div>
                    </div>
                <% }); %>
            </div>
        </script>
        <script type="text/html" id="story-detail">
            <div id="story-detail-view" class="row-fluid">
                <div class="span12">
                    <div id="breadcrumb" class='navbar'>
                        Home &raquo; <a id="story-list-link" href="#">News</a>
                    </div>
                    <h2 class='headline'><%= story.get('title') %></h2>
                    <span class="story-times">
                        <p>
                        Updated: <%= story.get_updated_display() %> |
                        Posted: <%= story.get_pub_date_display() %>
                        </p>
                    </span>
                </div>
                <div class="span9 pull-right">
                    <span class="social">
                        <a href="#"><span class="icon comment" />COMMENT</a>
                        <a href="#"><span class="icon share" />SHARE</a>
                        <a href="#"><span class="icon favorite" />FAVORITE</a>
                        <a href="#"><span class="icon vote" />VOTE</a>
                    </span>
                </div>
                <div class="span2 pull-left">
                    <img id="story-image" src="<%= story.get('lead_photo_image_url') %>" alt="<%= story.get('lead_photo_caption')%>" />
                    <p id="photo-credit"><%= story.get('lead_photo_credit') %></p>
                    <p id="photo-summary"><%= story.get('summary') %></p>
                </div>
                <div class="span9 pull-right">
                    <p>By:<span class="authors"> <%= story.get_author_display() %></span></p>
                </div>
                <div class="story span9 pull-right">
                    <%= story.get_story_display() %>
                </div>
            </div>
        </script>
    </body>
</html>