/* Import Bootstrap */
@import "/libs/bootstrap.less";
@import "/libs/responsive.less";

/* Global Style variables */
@blue: #036dbe;
@purple: #b93c61;
@gray: #444444;
@grayLight: #cdcdcd;
@grayLightest: #898989;

body {
    
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 40px;

    // story list view
    #story-list {
        display: none;
    }

    a:link a:visited {
        color: @blue;
    }

    a:hover a:active {
        color: @purple;
    }
}

#story-list-view {
    img.story-thumbnail {
        cursor: pointer;
        padding: 3px;
        background-color: @white;
        border: 1px solid @grayLight;
        .border-radius(5px);
        .box-shadow(2px 2px rgba(0, 0, 0, .2));
    }

    h2.headline {
        cursor: pointer;
        font-size: 16px;
        font-style: bold;
        color: @blue;
        line-height: 15px;
    }

    span.categories {
        display: inline-block;
        p {
            font-size: 14px;
            font-color: @gray;
            line-height: 15px;
            padding-bottom: 10px;
        }
    }

    span.story-times {
        p {
            font-size: 14px;
            font-color: @gray;
        }
    }
}

#story-detail-view  {
    h1, h2, p, a {
        font-family: arial;
    }

    a {
        color: @blue;
    }

    #breadcrumb {
        border-top: 1px solid @grayLight;
        border-bottom: 1px solid @grayLight;
        font: 11px bold @blue;
    }

    .headline {
        font: 24px "arial";
        color: @gray;
    }

    .authors {
        color: @blue;
    }

    .social {
        font: 11px bold @blue;
        cursor: pointer;

        a {
            text-decoration: underline;
            padding: 0px 20px 9px 0px;
            :hover {
                filter: none;
                -webkit-filter: grayscale(0);
            }
        }

        .icon {
            -webkit-filter: grayscale(0.5) blur(10px);
            display: inline-block;
            margin-right: 5px;
            padding: 0px;
            width: 20px;
            height: 20px;
            background:url('../images/uidevtest-sprites.png') 0 0 no-repeat;

            @media(min-width: 1210px) {
                // Grayscale filter for firefox, IE, and webkit respectively
                filter: url(../images/filters.svg#grayscale);
                filter: gray;
                -webkit-filter: grayscale(1);
            }
        }

        .comment {background-position: 0px 0;}
        .share {background-position: -20px 0;}
        .favorite {background-position: -40px 0;}
        .vote {background-position: -60px 0;}
    }

    .story-times {
        font-size: 11px;
        color: @gray;
    }

    .story {
        font-size: 14px;
        font-height: 18px;
        color: @gray;
    }

    #photo-summary {
        font-size: 14px;
        font-height: 14px;
        color: @gray;
    }

    #photo-credit {
        font-size: 14px;
        font-height: 14px;
        color: @grayLightest;

        @media(min-width: 1210px){
            position: relative;
            top: -22px;
            left: -15px;
            padding: 4px;
            float: right;
            color: @black;
            background-color: @white;
            opacity: 0.6;
        }
    }
}